body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


a > h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #333333;
}

a > p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #333333;
}